<div *ngIf="!users.message" class="maintile">
    <div class="image-sec">
        <div class="user-title"> User Image</div>
        <div class="imagebox"> 
            <img class="img" src= {{users.image_url||defaultiImageUrl}}/>
        </div>
    </div>
    <div class="info-sec">
        <div class="user-title"> Git Hub User Name</div>
        <div class="info"> {{users.username}}</div>
    </div>
</div>
<div *ngIf="users.message" class="maintile">
    <div class="image-sec">
        <div class="user-title"> No User Found</div>
    </div>
</div>