<div class="mainpage">
    <div class="history-title"> Your Search Result </div>
    <div class="history-desc">
        <div class="history-head">
            <div class="section1">
                Search Term
            </div>
            <div class="section2">
                Search Results
            </div>
    
        </div>
        <div>
            <div class="history-main" *ngFor="let history of historyData">
                <div class="section1">
                    <span>{{history.searchTerm}}</span>
                </div>
                <div class="section2">
                    <div class="sub-sec1">
                        <app-searchtile [users]="history.searchValue"></app-searchtile>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-history-main" *ngIf="historyData.length==0"></div>
            <button class="btn-primary" (click)="clearHistory()"> Clear History</button>
    </div>
    

</div>