<div class="mainpage">
    <div class="history-title"> Your Search Result </div>
    <div class="history-desc">
        <div class="history-head">
            <div class="section1">
                Search Term
            </div>
            <div class="section2">
                Search Term
            </div>
    
        </div>
        <div class="history-main">
            <div class="section1">
                <span>here-----</span>
            </div>
            <div class="section2">
                <div class="sub-sec1">
                    <app-searchtile></app-searchtile>
                </div>
            </div>
        </div>
            <button class="btn-primary"> Clear History</button>
    </div>
    

</div>